nav {
   background: rgba(102, 87, 87, 0.256);
   width: max-content;
   display: block;
   padding: 0.8rem 1.5rem;
   z-index: 2;
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 3rem;
   display: flex;
   gap: 0.8rem;
   border-radius: 3rem;
   backdrop-filter: blur(15px);
}

nav a {
   background: transparent;
   padding: 0.8rem;
   border-radius: 50%;
   display: flex;
   color: rgb(0, 0, 0);
   font-size: 1.2rem;
   transition: all 100ms ease;
}

nav a:hover {
   background: rgba(0, 0, 0, 0.3);
}

nav a.active {
   background: rgba(0, 0, 0, 0.3);
   color: white;
}

@media screen and (max-width: 350px) {
   .nav a {
      font-size: 1rem;
   }
}